* {
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Anuphan', sans-serif;

}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
      
}


.search-form {

    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #bc94d4;
    
}

.input {
    font-size: 20px;
    font-family: inherit;
    width: 600px;
    border: none;
    padding: 5px;
    margin-right: 15px;
    
    background-color: #ebdff2;
    border-color: #eeebf0;
    border-radius: 8px;
    
}

.submit-btn {
    border: none;
    padding: 5px;
    height: 50px;
    width: 100px;
    background-color: #ebdff2;
    border-color: #eeebf0;
    border-radius: 8px;
    display: block;
    text-decoration: none;
    font-family: inherit;
    font-size: 18px; 
    padding: 4px 14px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.submit-btn:hover, 
.submit-btn:focus {
    background-color: #d1b3e3;
}

.load-more {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    height: 50px;
    width: 130px;
    background-color: #ebdff2;
    border-color: #eeebf0;
    border-radius: 8px;
    text-decoration: none;
    font-family: inherit;
    font-size: 18px;
    padding: 4px 14px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

.load-more:hover,
.load-more:focus {
    background-color: #d1b3e3;
}

.is-hidden {
    display: none;
}

.gallery {
   
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    
    list-style: none;
    margin: 20px auto;
    padding: 0;
  
}

.gallery__image {
    display: block;
    justify-content: center;
    width: 320px;
    height: 240px;
   
    border: solid 1px #ebebeb;
}

.gallery__link {
    text-decoration: none;
    color: #0d0105;
}

.photo-card {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .12), 0px 1px 1px rgba(0, 0, 0, .14), 0px 2px 1px rgba(0, 0, 0, .2);
    flex-basis: calc((100% - 30px)/4);
}

.info-item {
    margin-left: 15px;
    font-size: 15px;
    
}